version: '3.8'

services:
  # ---------------------------------------------------------------------------
  # OTEL Collector - The Brain
  # ---------------------------------------------------------------------------
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.96.0
    container_name: otel-collector
    command: [ "--config=/etc/otel-collector-config.yaml" ]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "4317:4317" # OTLP gRPC
      - "4318:4318" # OTLP HTTP
      - "8888:8888" # Metrics
      - "8889:8889" # Prometheus Exporter
    depends_on:
      - tempo
      - loki
    networks:
      - monitoring

  # ---------------------------------------------------------------------------
  # Metrics (Prometheus)
  # ---------------------------------------------------------------------------
  prometheus:
    image: prom/prometheus:v2.50.1
    container_name: prometheus
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.path=/prometheus
      - --web.console.libraries=/etc/prometheus/console_libraries
      - --web.console.templates=/etc/prometheus/consoles
      - --web.enable-lifecycle
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./prometheus_rules.yml:/etc/prometheus/prometheus_rules.yml
    ports:
      - "9090:9090"
    networks:
      - monitoring

  # ---------------------------------------------------------------------------
  # Tracing (Tempo)
  # ---------------------------------------------------------------------------
  tempo:
    image: grafana/tempo:2.3.1
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    ports:
      - "3200:3200" # Tempo
      - "4317" # OTLP gRPC
    networks:
      - monitoring

  # ---------------------------------------------------------------------------
  # Logs (Loki)
  # ---------------------------------------------------------------------------
  loki:
    image: grafana/loki:2.9.4
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - "3100:3100"
    networks:
      - monitoring

  # ---------------------------------------------------------------------------
  # Visualization (Grafana)
  # ---------------------------------------------------------------------------
  grafana:
    image: grafana/grafana:10.4.0
    container_name: grafana
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/var/lib/grafana/dashboards
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - tempo
      - loki
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
