receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

  # Enforce enviroment tagging if missing
  resource:
    attributes:
      - key: deployment.environment
        value: "local-dev"
        action: upsert

  # Data scrubbing example (Security requirement)
  transform:
    error_mode: ignore
    trace_statements:
      - context: span
        statements:
          # Redact email addresses from span attributes
          - replace_pattern(attributes["user.email"], ".*", "*****") where attributes["user.email"] != nil

exporters:
  # Metrics -> Prometheus
  prometheus:
    endpoint: "0.0.0.0:8889"
    namespace: "default"

  # Traces -> Tempo
  otlp/tempo:
    endpoint: "tempo:4317"
    tls:
      insecure: true

  # Logs -> Loki
  otlp/loki:
    endpoint: "loki:3100"
    tls:
      insecure: true

  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [resource, transform, batch]
      exporters: [otlp/tempo, debug]
    
    metrics:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [prometheus, debug]

    logs:
      receivers: [otlp]
      processors: [resource, batch]
      exporters: [otlp/loki, debug]
